body {
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: rgb(255, 214, 95);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #08101D;
  background-image: url(bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
  width: 100vw;
  height: 100vh;
}
div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  margin-bottom: 3%;
}
H1 {
  font-size: 42px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 10px;
  opacity: 0;
  background: linear-gradient(#E54B17,#F9D673);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  font-size: 21px;
  line-height: 150%x;
  margin-top: 0;
  margin-bottom: 10px;
  opacity: 0;
  max-width: 500px;
}

@media only screen and (max-width: 600px) {
  div.container {
    margin-bottom: 30%;
  }
  H1 {
    font-size: 36px;
  }
  p {
    margin-left: 20px;
    margin-right: 20px;
  }
}